@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: black;
    position: relative;
    z-index: 1;
}

.icono_hamburguesa span{
  height: 3px;
  display: block;
  background-color: white;
  margin-bottom: 6px;
}

.icono_hamburguesa{
  float: right;
  width: 30px;
  position: relative;
  top: 25px;
  margin-left: 37px;
  margin-right: 15px;
}

nav .logo1{
    color: white;
    font-size: 24px;
    line-height: 70px;
    font-weight: 900;
    margin-left: 770px;
}

/*nav .logo2{
  color: white;
  font-size: 24px;
  line-height: 70px;
  font-weight: 900;
  margin-left: 28px;
}*/

nav ul li{
    display: inline-block;
    margin: 27px 37px;
}
nav ul{
    float: left;
    margin-left: 15px;
}

nav ul li a{
    color: white;
    font-size: 19px;
    padding: 8px 6px;
    text-decoration: none;
    font-family:'Cambria';
}

nav ul li a:hover{
    color: orange;
}

/******** Clau */

.caja{
    
    height: 600px;
    width: 1903px;
    position: absolute;
    background-image: url(fondonuevo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

#titulo{
    font-size: 75px;
   /* text-align: right;*/
   margin-left: 100px;
    font-weight: bold;
    color: white;
    font-family: 'Cambria';
    margin-bottom: 5px;
    margin-top: 39px;
}

.imagen{
    margin-left: 140px;
    margin-bottom: 20px;

    padding: 0px;
    width: 457px;
    height: 350px;
    position: relative;
}

.btnregistrate{
    display: block;
    width: 220px;
    margin-left: 100px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Cambria';
    font-weight: 700;
    border-radius: 22px;
    font-size: 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
}
.btnregistrate:hover{
    background-color: orange;
}

/********* Isa*/
.seccion-empezar {
    position: relative;
    background-color: #FDE086;
    padding-bottom: 1rem;   /*ancho de la seccion amarilla desde arriba*/
    padding-top: 1rem;   /*ancho de la seccion amarilla desde abajo*/
    text-align: center;
    flex-direction: row ;
    margin-top: 600px;
    height: 600px;
}

.primer-par-imagen{
    text-align: left;
    display: flex;
}

.espacio-entre-imagen{
  margin-right: 750px;
}

.imagen-margen-izq{
  margin-left: 100px;
}

.largo-boton-naranja { 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.botones {
  border-radius: 5rem;
  display: block;
  font-weight: 400; /*grosor de la letra*/
  line-height: 2; /*ancho del boton*/
  text-align: center;
  text-decoration: none;
}

.boton-naranja{ 
  padding: .25rem 10rem .600rem; /*ajustar tamaño*/
  background-color: #FF7100; /*color boton*/
  color: #fff; /*color letra*/
}

.centrar-texto{

    padding-bottom: 25rem;  
    padding-top: 1rem; 
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    top: 600px;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

h2 { /*seccion empezar, primera oracion*/

  line-height: 2; /*interlineado*/
  color: #5f5d5d;
  margin-bottom: .75rem;
  
}

.espacio-entre-componentes {
  flex-direction: column;
  row-gap: .75rem;   /*espacio de separacion*/
}

.ui-layout-container {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.texto-pequeno{
  font-size: 0.75rem;
}
